.logoutBtn{
    border: none;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.logoutBtn span{
    font-size: 14px;
    font-weight: 500;
}
.account{
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    align-items: center;
    font-size: 12px;
    margin-right: 30px;
}

.signupIcon{
    font-size: 30px;
}
.logoutIcon{
    font-size: 30px;
}

.account a{
    font-size: 14px;
}