
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    background: var(--successGreen);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease;
    padding: 0.6rem 1.2rem;
    color: var(--fontPrimary);
  }
  
  .button:hover {
    background: var(--fontPrimary);
    color: #fff;
    transition: all 0.5s ease;
  }