.videos{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1.2rem;
    margin: 3rem auto;
    justify-content: center;
    row-gap: 20px;
}

@media screen and (max-width: 600px) {
    .videos{
        width: 90%;
    }
}